---
layout: default
title: Courses
---

<div class="courses">
  <h1>Courses</h1>

  <p>Stanford offers the following courses in graphics:<br>
    (Not all courses are offered every year.)
  <ul>
    {% for course in site.data.courses.courses %}
    <li><a href="#{{ course.link }}">{{ course.name }}</a></li>
    {% endfor %}
  </ul>

  <p>The following courses are being offered this year (2017-2018).</p>
  <ul>
    {% for quarter in site.data.courses.quarters %}
    <li><strong>{{ quarter }} quarter:</strong>
      <ul>
        {% for course in site.data.courses.courses %}
        {% if course.quarter == quarter %}
        <li><a href="#{{ course.link }}">{{ course.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

  {% for course in site.data.courses.courses %}
  <div class="course">
    <h2><a name="{{ course.link }}">{{ course.name }}</a></h2>
    <p>{{ course.summary }}</p>
    <table>
      <tr>
        <td>Units</td><td>{{ course.units }}</td>
      </tr>
      <tr>
        <td>Preqrequisites</td><td>{{ course.prerequisites }}</td>
      </tr>
      <tr>
        <td>Instructor</td><td>{{ course.instructor }}</td>
      </tr>
      {% if course.next_offering %}
      <tr>
        <td>Next offering</td><td>{{ course.next_offering }}</td>
      </tr>
      {% else %}
      <tr>
        <td>Quarter</td><td>{{ course.quarter }}</td>
      </tr>
      <tr>
        <td>Time</td><td>{{ course.time }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Televised?</td><td>{{ course.televised }}</td>
      </tr>
    </table>
    <p>Past offerings:</p>
    <ul>
      {% for offering in course.past_offerings %}
      <li>{{ offering | markdownify }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
