@import "common.scss";

body {
    font-family: $default-family;
    font-size: 18px;
    background: $fog;
    line-height: 1.3;
    color: $black;
}

.container {
    max-width: 1152px;
    width: auto;
}

.container.main {
    min-height: calc(100vh - 140px - 30px - 22px);
    //padding: 1px 20px;

    nav {
        margin-top: 2rem;
        margin-bottom: 2rem;

        div.logo {
            float: left;

            @media #{$media-phone} {
                float: none;
                text-align: center;
                font-size: 28px;
            }

            a {
                border: none;

                img {
                    height: 70px;
                }
            }
        }

        ul.navlinks {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;

            @media #{$media-phone} {
                float: none;
                text-align: center;
            }

            li {
                display: inline-block;

                a {
                    font-family: $header-family;
                    font-size: 20px;
                    font-weight: bolder;
                    letter-spacing: 0.5px;
                    display: inline-block;
                    margin-top: 8px;
                    margin-left: 10px;
                    vertical-align: middle;
                    background-color: $dark-red;
                    padding: 3px 8px;
                    border-radius: 2px;
                    text-decoration: none;
                    color: $fog;
                    border: none;

                    &:hover {
                        color: $white;
                        background-color: $bright-red;
                    }

                    @media #{$media-phone} {
                        margin-top: 5px;
                    }

                }

                &:first-child a {
                    margin-left: 0;
                }
            }
        }
    }
}
