@import "common.scss";

.publication {
    .title {
        margin-bottom: 2rem;
        font-family: $default-family;
    }

    .authors {
        margin-bottom: 2rem;
    }

    .body {
        h2 {
            font-size: 30px;
            margin-bottom: 1rem;
            margin-top: 3rem;
        }
    }
}
